//+build !cgo !amd64 noasm

package float
import(
    "fmt"
    "sort"
	"golang.org/x/sys/cpu"
	"./avx"
{{range .In.floatTypes}}
    math{{.bits}} "{{.mathmodurl}}"
{{end}}
)
{{range .In.floatTypes}}


// AddTo  for []float{{.bits}}
func (f{{.bits}} F{{.bits}}) AddTo(dst,a,b []float{{.bits}}) {
		 f{{.bits}}.unrolledAddTo(dst,a,b)
	
}
// SubTo  for []float{{.bits}}
func (f{{.bits}} F{{.bits}}) SubTo(dst,a,b []float{{.bits}}) {
		 f{{.bits}}.unrolledSubTo(dst,a,b)
	
}
// MulTo  for []float{{.bits}}
func (f{{.bits}} F{{.bits}}) MulTo(dst,a,b []float{{.bits}}) {
		 f{{.bits}}.unrolledMulTo(dst,a,b)
	
}
// ScaleTo  for []float{{.bits}}
func (f{{.bits}} F{{.bits}}) ScaleTo(dst,a []float{{.bits}},scale float{{.bits}}) {
		 f{{.bits}}.unrolledScaleTo(dst,a,scale)
	
}


// Sum for []float{{.bits}}
func (f{{.bits}} F{{.bits}}) Sum(a []float{{.bits}}) float{{.bits}} {
	{
		return f{{.bits}}.unrolledSum(a)
	}
}


// Dot for []float{{.bits}}
func (f{{.bits}} F{{.bits}}) Dot(a,b []float{{.bits}}) float{{.bits}} {
	{
		return f{{.bits}}.unrolledDot(a,b)
	}
}
{{end}}
